body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}


.menu a {
  @apply text-sm p-2 rounded mb-2;
}

.menu a.active,
.menu a:hover {
  @apply bg-secondary text-primary;
}

.avatar-group :where(.avatar) {
  border: 0;
}

.btn-batch {
  @apply btn btn-outline w-full rounded-lg flex justify-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 500;
}

.btn-batch:hover {
  @apply bg-secondary text-primary !important;
  border-color: transparent;
}


.swiper-slide {
  width: 80% !important;
}

.table {
  box-shadow: 0px 3.20559px 32.0559px rgba(0, 0, 0, 0.08);
}

.table :where(tbody th, tbody td) {
  background: #fff;
}

.badge {
  @apply rounded text-sm h-5;
}

.table :where(thead, tfoot) :where(th, td) {
  @apply bg-transparent font-medium capitalize text-[#8F90A6];
}

.checkbox {
  height: 1rem;
  width: 1rem;
  padding-top: 3px;
}

.modules .collapse:last-child {
  border-radius: 0 0 8px 8px;
}