body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}


.menu a {
  @apply text-sm p-2 rounded mb-2;
}

.menu a.active,
.menu a:hover {
  @apply bg-secondary text-primary;
}

.avatar-group :where(.avatar) {
  border: 0;
}

.btn-batch {
  @apply btn btn-outline w-full rounded-lg flex justify-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font-weight: 500;
}

.btn-batch:hover {
  @apply bg-secondary text-primary !important;
  border-color: transparent;
}


.swiper-slide {
  width: 80% !important;
}